.header {
  background-color: var(--color-bg-secondary);
}

.header__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 1rem 0.75rem;
}

.header__title {
  font-family: "Samarkan", serif;
  color: var(--color-accent);
  font-size: 2rem;
  letter-spacing: 0em;
  text-decoration: none;
}
