.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg-secondary);
}

.header__title {
  font-family: "Samarkan", serif;
  color: var(--color-accent);
  font-size: 2.5rem;
  letter-spacing: 0em;
}
