:root {
  --color-bg-main: #f4ebd0;
  --color-bg-secondary: #e6d5b8;
  --color-bg-tertiary: #dccab2;
  --color-text-primary: #3c2a21;
  --color-text-secondary: #634832;
  --color-accent: #8b5e00;
}

[data-theme="dark"] {
  --color-bg-main: #1a120b;
  --color-bg-secondary: #2e1e14;
  --color-bg-tertiary: #3d2b1f;
  --color-text-primary: #d5c4a1;
  --color-text-secondary: #a88d70;
  --color-accent: #d4a373;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Samarkan";
  src:
    url("../assets/fonts/samarkan/samarkan.woff") format("woff"),
    url("../assets/fonts/samarkan/samarkan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent);
}

header {
  font-size: 2rem;
}

h2 {
  font-size: 1.15rem;
}
