:root {
  --color-bg-main:       #F4EBD0;
  --color-bg-secondary:  #E6D5B8;
  --color-text-primary:  #3C2A21;
  --color-text-secondary:#634832;
  --color-accent:        #B68D40;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-accent);
}
